.main{
	text-transform: uppercase;
	font-family: 'Times New Roman', Times, serif;
	width: 100%;
	height: auto;	
}

body .main h1{
	font-size: 2rem;
	text-align: center;
}

.row{
	width: 100%;
	padding: 16px;
}

.hover-shadow{
	border-radius: 30px;
	cursor: pointer;
	transition: 0.5s;

	width: 320px;
	height: auto;

	padding: 10px;
}

.modal-thumb{
	display: flex;
	justify-content: space-between;
}

.modal-thumb img{
	flex: 1;
	margin: 10px;
	width:100%;
	border-radius: 10px;	 
}

.modal-thumb img:hover{
	opacity: 0.7;
	display: block;
}

.myModal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 100px;
	z-index: 1;

	height: 100%;
	width: 100%;
	overflow: auto;

	background-color: black;
	background-color: rgba(0, 0, 0, 0.9);

	text-align: center;
}

.modal-content{
	background-color: blue;
	width: inherit;

	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom{
	from {transform: scale(0);}
	to {transform: scale(1);}
}

.modal-img{
	text-align: center;
	max-height: 600px;
	width: 100%;
	height: auto;

	border: 1px dashed white;
	border-radius: 5px;
}

.close-modal{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #f1f1f1;
	height: 64px;
	width: 64px;

	display: block;

	border-radius: 20px;
	font-size: 35px;

	font-weight: bold;
	transition: 0.3s;

	z-index: 1;
}

.close-modal:hover,
.close-modal:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;

	border-radius: 50%;
	background-color: red;	
}

@media only screen and (max-width: 700px){
	.modal-thumb{
		flex-direction: column;
	}
		
}