h1{
	text-align: center;
	text-transform: uppercase;
	padding: 16px 16px;
	font-weight: bold;
	font-family: sans;
}

.row{
	width: 100%;
}

.row .column{
	width: 30%;
	text-align: center;
}

.hover-shadow{
	border-radius: 30px;
	cursor: pointer;
	transition: 0.3s;
	/*width: 100%;*/

	width: 320px;
	height: auto;

	padding: 10px;
}

.hover-shadow:hover{
	opacity: 0.7;
}

#myModal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	padding: 50px;

	height: auto;
	width: 100%;

	background-color: black;
	background-color: rgba(0, 0, 0, 0.9);

	text-align: center;
}

.modal-content{
	background-color: blue;
	width: inherit;

	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom{
	from {transform: scale(0);}
	to {transform: scale(1);}
}

.modal-img{
	text-align: center;
	max-height: 600px;
	width: 100%;
	height: auto;

	border: 1px dashed white;
	border-radius: 5px;
}

.close-modal{
	position: absolute;
	top: 2px;
	right: 5px;
	color: #f1f1f1;
	height: 64px;
	width: 64px;

	border-radius: 20px;

	font-size: 30px;

	font-weight: bold;
	transition: 0.3s;

	z-index: 1;
}

.close-modal:hover,
.close-modal:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;

	background-color: red;	
}

@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}

    .hover-shadow{
		width: 240px;
	}

	#myModal{
		padding: 5px;
	}
}